<div class="relative bg-white">
    <div class="mx-auto px-4 sm:px-6">
        <div class="flex justify-center items-center py-6 md:justify-start md:space-x-10">
            <!--- STORE NAME / STORE LOGO-->
            <div class="flex justify-start lg:flex-1 truncate">
                <h1 class="text-xl font-bold truncate">{{ shop.name }}</h1>
            </div>
            
            <!-- NAVIGATION MENU -->
            <div class="hidden md:flex space-x-10">
                {% for link in section.settings.menu.links %}
                    
                {% endfor %}
            </div>

            <!-- CART BUTTONS / ACCOUNT LINKS IF ENABLED -->

            <!-- Udemy THE Navigation Bar approx 6 minutes in -->
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Header"
    "settings": [
        "type": "link_list",
        "id": "menu",
        "default": "main-menu",
        "label": "Heading Navigation Menu"
    ]
}
{% endschema %}